@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Martel:wght@200;300;400;600;700;800;900&display=swap');

@theme inline {
  --font-sans: var(--font);
  --font-serif: var(--font);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-muted-foreground: var(--muted-foreground);
  --color-border: var(--border);
  --color-card: var(--card);
  --radius: 1rem;
}

:root {
  color-scheme: light;
  --background: #f8f6f0;
  --foreground: #22382c;
  --primary: #1e593c;
  --primary-foreground: #f8faf6;
  --muted-foreground: #5a7767;
  --border: #dad6c9;
  --card: #f1ede0;
  --font: font-family: "Martel", serif;
}

* {
  @apply border-border;
}

html {
  background: var(--background);
  scroll-behavior: smooth;
}

/* Hide scrollbar */
html,
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

body {
  @apply bg-background text-foreground font-sans;
}

.footer{
  width: 100%;
  font-size: clamp(0.7rem, 3vw, 1.2rem);
  background-color: var(--primary);
  color: var(--background);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2% 4%;
}

.homeHeader{
  font-size: clamp(3rem, 4vw, 4rem);
  font-family: var(--font);
  line-height: 1;
  font-weight: 450;
  margin: 3% 0 0 0;
}

.homeHeader em{
  color: var(--primary);
}

.cards{
  transition: 0.2s ease;
  &:hover{
    transform: translateY(-0.5rem);
  }
}

.link{
  width: 100%;
  transition: 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover{
    background-color: var(--border);
  }
}

.hoverlink{
  position: relative;
  transition: 0.2s ease all;

  &::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    background-color: var(--primary);
    height: 2px;
    width: 0;
    transform: translateX(-50%);
    transition: 0.2s ease all;
    
  }

  &:hover{
    color: var(--primary);
  }
}

.hoverlink:hover::before{
  width: 100%;
}

.contactHover:hover .arrow{
  display: flex;
}

.arrow{
  display: none;
}
